/** General Information (fonts, etc.)**/

html, body {
	height: 100%;
}

@font-face {
	font-family: MissionGothic;
	src: url(MissionGothicThin.otf);
}

@font-face {
	font-family: AbrahamLincoln;
	src: url(AbrahamLincoln.ttf);
}

/** Bacground Image **/

body {
	background-image: url(Railroad.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: black;
	font-family: AbrahamLincoln;
	z-index: 10;
}

/** Landing Page Design **/

#Giant img {
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 10%;
}

#EnterMe {
	z-index: 50;
	float: left;
	margin-left: 43%;
	margin-right: 43%;
	font-family: AbrahamLincoln;
}

#EnterMe a:link {
	text-decoration: none;
	color: black;
}

#EnterMe a:visited {
	text-decoration: none;
	color: black;
}

#EnterMe a:hover {
	font-style: italic;
}

/** Navigation Bar Design **/

#mainNav {
	float: left;
	margin: 0 0 5% 0;
	text-align: left;
	display: block;
	list-style: none;
	width: 95%;
	padding-left: 10%;
}

nav li {
	display: inline-block;
	padding-left: 5%;
	padding-right: 4%;
	padding-top: 2%;
	font-size: 30px;
	vertical-align: middle;
	font-family: AbrahamLincoln;
}

nav li a:link, a:visited {
	text-decoration: none;
	color: black;
}

nav li a:hover {
	text-decoration: underline;
	font-style: italic;
}

nav li .icon  {
	padding: 3px;
	opacity: .5;
}

nav li .icon:hover {
	opacity: 1;
}

/** Footer Design **/

.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   background: black;
   color: white;
   opacity: .9;
   border-top: 2px solid;
   border-color: #4D4D4D;
   text-align: center;
}

#mainFooter {
	float: left;
	text-align: left;
	display: block;
	list-style: none;
	margin-left: 40%;
}

#mainFooter li {
	display: inline-block;
	padding-left: 5%;
	padding-right: 4%;
	vertical-align: middle;
	font-family: AbrahamLincoln;
}

#mainFooter li a:link {
	text-decoration: none;
	color: white;
}

#mainFooter li a:visited {
	text-decoration: none;
	color: white;
}

/** Main Content Design **/

/* The following will apply to most pages; keeps look of two columns */

.main {
	display: inline-block;
} 

.title {
	text-align: left;
	padding-left: 5%;
}

.Type1 {
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	font-size: 20px;
	word-spacing: 1px;
}

/* The following two sections are specific to the about page */

.container {
	position: absolute;
	background-color: white;
	opacity: .8;
	text-align: left;
	margin-left: 43.5%;
	margin-right: 22.5%;
	width: 40%;
	display: block;
}

.profile-photo img {
	max-width: 207px;
	float: right;
	position: absolute;
	display: block;
	margin-left: 22.5%;
}

/* The following two sections are specific to the inspiration page */

.containerSpotify {
	position: absolute;
	background-color: white;
	opacity: .8;
	text-align: left;
	margin-left: 53%;
	margin-right: 22.5%;
	width: 30%;
	display: block;

}

.spotify iframe {
	float: right;
	position: absolute;
	display: block;
	margin-left: 22.5%;
}

/* THe following sections are specific to the art&design page and the mechanics of the image slider*/

.containerGallery {
	position: absolute;
	background-color: white;
	opacity: 1;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 5%;
	width: 60%;
	display: block;
}

.imageGallery {
	margin: 30px auto;
	position: relative;
	display: block;	
	padding: 10% 30% 30% 4%;
	overflow: hidden;
}

.imageGallery img {
	text-align: center;
	position: absolute;
	padding-bottom: 10%;
	z-index: 30;
	opacity: 0;
	height: 250px;
	top: 0;
}

.imageGallery img:first-child {
	left: 0;
	opacity: 1;
}

.imageGallery img:target {
	left: 0;
	z-index: 60;
	opacity: 1;
}

.containerControl {
	margin-left: 35%;
	margin-top: 50px;
}

.imageControl {
	z-index: 50;
	text-align: middle;
	position: absolute;
	bottom: 6%;
}

.imageControl a:link {
	text-decoration: none;
	color: white;
	font-size: 20px;
	background: black;
	opacity: .6;
	padding: 4px;
	margin: 2px;
}

.imageControl a:visited {
	text-decoration: none;
	color: white;
	font-size: 20px;
	background: black;
	opacity: .6;
	padding: 4px;
	margin: 2px;
}

.imageControl a:hover {
	text-decoration: none;
	color: white;
	background: black;
	opacity: 1;
}

/* The following sections center each of the pictures within the gallery */
/** Need to find a more efficient way to do this **/

.imageGallery .w330 {
	padding-left: 37%;
}

.imageGallery .w160 {
	padding-left: 58%;
}

.imageGallery .w300 {
	padding-left: 42%;
}

.imageGallery .w370 {
	padding-left: 32%;
}

.imageGallery .w180 {
	padding-left: 56%;
}

.imageGallery .w470 {
	padding-left: 20%;
}

.imageGallery .w210 {
	padding-left: 53.5%;
}

/* The following sections format the credits page */

.containerCredits {
	position: absolute;
	background-color: white;
	opacity: .8;
	text-align: left;
	margin-left: 22.5%;
	margin-right: 22.5%;
	width: 55%;
	display: block;
}

.bodyCredits{
	text-align: left;
	margin-left: 5%;
}

.bodyCredits a:link, a:visited {
	color: black;
}

